<%- include('template/cabecera.ejs', {titulo: 'Iconos Ingen1um', index: false }) %>


<div id="contenedor-carga">
    <div id="carga"></div>
</div>

<form method="POST" enctype="multipart/form-data" class="row m-4">

    <div class="col-md-6 col-sm-12">
        <h3 class="text-center colorTexto">SUBE UN ICONO</h3>

        <input type="file" name="iconToUpload" class="form-control my-3 archivo colorBorde colorInput text-white" multiple>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3 class="text-center colorTexto">SUBE UNA LISTA DE ICONOS</h3>

        <input type="file" name="listToUpload" class="form-control my-3 archivo colorBorde colorInput text-white">
    </div>

    <div>
        <button type="submit" id="btnSubmit" class="btn colorBorde col-12 my-3 colorTexto uploadFiles">
            <i class="fas fa-upload mx-2"></i> <b>Upload files</b> 
        </button>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-around align-items-start flex-wrap" id="iconPreview">

        </div>
    
        <div class="col-md-6 col-sm-12 d-flex justify-content-center" id="listPreview">
    
        </div>
    </div>
    
</form>

<script src="/js/previewUpload.js"></script>
<script src="/js/cargaWebAdd.js"></script>

<%- include('template/footer.ejs') %>