<%- include('template/cabecera.ejs', {titulo: 'Iconos Ingen1um'}) %>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group my-4 mx-4">
        <input type="file" name="fileToUpload" class="form-control-file"><br><br>
    
        <button type="submit" class="btn btn-outline-primary">Subir</button>
    </div>
</form>

<%- include('template/footer.ejs') %>