<%- include('template/cabecera.ejs', {titulo: 'Iconos Ingen1um'}) %>

<div id="divPadre"></div>

<div id="pruebas"></div>

<div class="paco"></div>

<%- include('template/footer.ejs') %> 
<!-- <canvas class="canvasIconoActual" id="<%# datos[i].icono %>"></canvas> -->