<%- include('template/cabecera.ejs', {titulo: 'ICONOS INGENIUM'}) %>

<div id="divPadre"></div>

<%- include('template/footer.ejs') %> 
<!-- <canvas class="canvasIconoActual" id="<%# datos[i].icono %>"></canvas> -->