body{
    min-width: 400px;
    background-color: white;
}

h5{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#acordeonBody canvas{
    margin-bottom: 2vh;
}

.colorBorde{
    border: 3px solid #202e54;
}

.colorTexto{
    color: #202e54;
}

.colorFondo {
    background-color: #202e54;
}

.colorInput {
    background-color: #202e54;
}

.uploadFiles:hover{
    background-color: #202e54;
    color: white;
}