body{
    min-width: 400px;
    background-color: white;
}

.navegador{
    position: sticky;
    width: 100vw;
    top: 0;
    margin-bottom: 10px;
    padding: 0 2vw;
    z-index: 2;
}

h5{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#acordeonBody canvas{
    margin-bottom: 2vh;
}

.colorBorde{
    border: 3px solid #202e54;
}

.colorTexto{
    color: #202e54;
}

.colorFondo {
    background-color: #202e54;
}

footer{
    position: relative;
    left:0px; 
    right:0px; 
    bottom:0px;
}

.colorInput {
    background-color: #202e54;
}

.uploadFiles:hover{
    background-color: #202e54;
    color: white;
}